.counts {
    align-items: stretch;
  background: white;
  border-radius: 8px;
  padding: 30px 50px;
  box-shadow: 0px 0px 4px 0px #00000026;

  max-width: 1400px;   /* ✅ KEY FIX */
  width: 100%;         /* optional, safe with max-width */
}

/* Shared card styling */
.card-item {
  height: 100%;
  padding: 16px;
  border-radius: 6px;
}
.cards-1 h6 {
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 500;
    color: #3A3541;
    
}


.empty-border{
  border-left: 1px solid #E0E0E0;
   
}

.withdrawal-amt {
    flex-direction: column;
}

.withdrawal-amt h1 {
    font: 25px;
    font-weight: 700;
    color: #6E39CB;
}

.withdrawal-amt p {
    font-size: 14px;
    font-weight: 400;
    color: #89868D;
}


/* Header Card-Sup */

#neutral-sup, #profit-sup, #loss-sup{
      margin-left: 10px;
    font: 12px;
    font-weight: 400;
    border-radius: 8px;
    padding: 5px;
    margin-left: 5px;
}


#neutral-sup{
    background-color: #F4F5F9;
    color: #6E39CB;
}

#profit-sup { 
    background-color: #EEFFEB;
    color: #6E39CB;
}

#loss-sup{
    background-color: #FFEFEF;
    color: #F93131;
}
#profit-sup img {
    margin-right: 5px;
}

#loss-sup img {
    margin-right: 5px;
}

#neutral-sup img {
    margin-right: 5px;
}

/* Sales Funnel Section */
.salesFunnel{
background-color: white;

.salesFunnelChart{
opacity: 1;
background-color: white;
}

.salesFunnelTitle{
justify-content: space-between;
align-items: center;
}
}

.salesFunnelTitle h4{
    font-size: 20px;
    font-weight:500;
    color: #3A3541;
}

.salesFunnelTitle p{
    font-size: 14px;
    font-weight: 400;
    color: #6E39CB;
    padding: 5px;
    background-color: #F4F5F9;
}
