/* Google-Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #F4F5F9;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

/* ================= SIDEBAR CONTAINER ================= */
.left-container {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

/* ================= SIDEBAR MENU BASE ================= */
.sidebar-menu {
  margin: 0;
  padding: 0;
}

.sidebar-menu > li {
  padding-left: 21px;
  list-style: none;
}
/* Default links */
.sidebar-menu a {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 14px 10px;
  border-radius: 8px;
  color: #000000;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  cursor: pointer;
}

/* Hover */
.sidebar-menu a:hover {
  background-color: #F2ECFF;
}

/* Icons */
.sidebar-close-icon,
.sidebar-open-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

/* Rotate icon when open */
.sidebar-menu li.open > a .sidebar-close-icon {
  transform: rotate(180deg);
}

/* Icon default color */
.sidebar-menu a img {
  filter: brightness(0) saturate(100%);
  transition: filter 0.25s ease;
}
/* ================= DROPDOWN ================= */

/* Hide all child menus */
.sidebar-menu .child-menu {
  display: none;
  padding-left: 18px;
}

/* Nested child menu */
.sidebar-menu .child-menu .child-menu {
  padding-left: 18px;
}

/* Show dropdown when open */
.sidebar-menu li.open > .child-menu {
  display: block;
}

/* Child links */
.child-menu a {
  font-size: 16px;
  padding: 10px 10px;
  color: #000000;
}

/* Active child link */
.child-menu a.active-link {
  color: #6E39CB;
  font-weight: 500;
  background-color: transparent;
}
/* ================= ACTIVE PARENT (WHEN CHILD IS ACTIVE) ================= */

/* Parent text color */
.sidebar-menu > li:has(.child-menu a.active-link) > a {
  color: #6E39CB;
  background-color: #DECCFE;
  font-weight: 600;
}

/* Purple indicator — FLUSH LEFT */
.sidebar-menu > li:has(.child-menu a.active-link) > a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(-21px - 6px);
  width: 6px;
  background-color: #6E39CB;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Active icon color */
.sidebar-menu > li:has(.child-menu a.active-link) > a img {
  filter: brightness(0) saturate(100%)
    invert(29%)
    sepia(88%)
    saturate(2564%)
    hue-rotate(245deg)
    brightness(95%)
    contrast(92%);
}

/* ================= USER CARD ================= */
.sb-user-card {
  width: 178px;
  height: 55px;
  border-radius: 8px;
  padding-bottom: 20px;
}
